<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="image-logo">
        <ion-img src="../../../../assets/images/newdelta-logo 2.png"></ion-img>
      </ion-col>
      <ion-col>
        <ion-label color="primary" class="title">Reservas</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="reservas">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card color="primary">
            <ion-card-header>
              <ion-card-title class="card-title">
                nombre de la persona
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-label>Desde: <ion-label>Direccion Punto A</ion-label></ion-label>
              <ion-label>Hasta: <ion-label>Direccion Punto B</ion-label></ion-label>
              <ion-label>Precio: <ion-label>Precio</ion-label></ion-label>
              <ion-button color="secondary" (click)="goToBookingAceptPage()">Aceptar</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
