* {
  font-family: "Asap", sans-serif;
  font-size: 15px;
  font-weight: 500;
}
ion-grid {
  height: 30vh;
  ion-row {
    display: grid;
    .image-logo {
      display: flex;
      margin: 4% 0 0 4%;
    }
    ion-col {
      .title {
        display: flex;
        justify-content: flex-start;
        font-family: "Be Vietnam Pro", sans-serif;
        font-size: 2.3rem;
        font-weight: 700;
        text-align: center;
        margin: 7% 0 0 7%;
      }
    }
  }
}

.reservas {
  height: calc(100vh - 30vh);
  margin-top: 5%;
  ion-card {
    margin-bottom: 0;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    ion-card-content {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      ion-label {
        background-color: var(--ion-color-primary);
        color: #fff;
        display: flex;
        justify-content: flex-start;
        font-family: "Asap", sans-serif;
        font-size: 15px;
        font-weight: 500;
        text-align: center;
        margin-left: 7%;
      }
      .buttons{
        //width: 35%;
        //margin: 5% calc((100% - 35%) / 2) 0% calc((100% - 35%) / 2);
        display: flex;
        justify-content: center;
        gap: 1rem;
      }
    }
    .card-title {
      font-family: "Montserrat Alternates", sans-serif;
      font-weight: 600;
    }
  }
}
